
{% extends "ibroker/base.html" %}

{% block content %}

  <h1 class="h3 mb-2 text-gray-800">Portfolio</h1>

<div class="row">

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Quantia Disponível</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">R${{cash}}</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
</div>


{% if messages %}
<ul class="messages">
    {% for message in messages %}
<div class="col-lg-6 mb-4">
                  <div class="card bg-info text-white shadow">
                    <div class="card-body">
                        <p {% if message.tags %} class="mb-4"{% endif %} >{{ message }}</p>
                    </div>
                  </div>
                </div>
    {% endfor %}
</ul>

{% endif %}



          <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Ativos</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>Ação</th>
                      <th>Quantidade</th>
                      <th>Valor Investido</th>
                      <th>Preço Atual</th>
                      <th>Valor Total Atual</th>
                      <th>Vender</th>
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                      <th>Ação</th>
                      <th>Quantidade</th>
                      <th>Valor Investido</th>
                      <th>Preço Atual</th>
                      <th>Valor Total Atual</th>
                      <th>Vender</th>
                    </tr>
                  </tfoot>
                  <tbody>

                {% if dic %}
                    {% for key,item in dic.items %}

                    {% if item.amount > 0 %}
                    <tr>
                        <td>{{item.stock_code}}</td>
                        <td>{{item.amount}}</td>
                        <td>{{item.invested_value}}</td>
                        <td>{{item.current_price}}</td>
                        <td>{{item.current_value}}</td>
                        <td><a href="{% url 'ibroker:sell' %}"> Vender </a></td>
                    </tr>

    {% endif %}

    {% endfor %}

{% endif %}

                  </tbody>
                </table>
              </div>
            </div>
          </div>
{% endblock %}
