
{% extends "ibroker/base.html" %}


{% block content %}

  <h1 class="h3 mb-2 text-gray-800">Venda de ativos</h1>

{% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}

                <div class="col-lg-6 mb-4">
                  <div class="card bg-warning text-white shadow">
                    <li class="mb-4"> {{ error }} </li>

                  </div>
                </div>

   {% endfor %}
    {% endfor %}

{% endif %}



  <form method="post">
    {% csrf_token %}

      {{ form.non_field_errors }}

      {% comment %}<p><b>Quantidade de ações:</b> Não Implementado ainda </p> {% endcomment %}
      <div class="fieldWrapper">
        {{ form.stock.errors }}
        <label for="{{ form.stock.id_for_label }}"><b>Ação: </b></label>
        {{ form.stock }}
        </div>

        <div class="fieldWrapper">
        {{ form.qtd.errors }}
        <label for="{{ form.qtd.id_for_label }}"><b>Quantidade: </b></label>
        {{ form.qtd }}
        </div>

      {% comment %}<p><b>Current Price:</b> Não implementado ainda.</p> {% endcomment %}
      {% comment %}<p><b>Total:</b> Não implementado ainda.</p> {% endcomment %}

      <button  type="submit" onclick="return confirm('Você tem certeza?')" class="btn btn-light btn-icon-split">
                    <span class="icon text-gray-600">
                      <i class="fas fa-arrow-right"></i>
                    </span>
                    <span class="text">Vender</span>
                  </button>
  </form>
{% endblock %}