{% load static %}
<!-- templates/signup.html -->
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Register</title>
  <!-- Custom fonts for this template-->
  <link href={% static 'vendor/fontawesome-free/css/all.min.css' %} rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href={% static 'css/sb-admin-2.min.css' %} rel="stylesheet">

</head>


<body class="bg-gradient-primary">

<div class="container">
<div class="card o-hidden border-0 shadow-lg my-5">
<div class="card-body p-0">
<!-- Nested Row within Card Body -->
<div class="row">
<div class="col-lg-3 d-none d-lg-block "></div>
<div class="col-lg-7">
<div class="p-5">
<div class="text-center">
<h1 class="h4 text-gray-900 mb-4">Crie sua conta!</h1>
</div>

<form class="user" method="post">
  {% csrf_token %}
  <div class="form-group">
    {{ form.username.errors }}
    <label for="{{ form.username.id_for_label }}">Nome de Usuário:</label>
    <input type="username" class="form-control" placeholder="Username" required autofocus id="form.username.id_for_label" maxlength="254" name="username" type="text" />
  </div>
  <div class="form-group">
    {{ form.email.errors }}
    <label for="{{ form.email.id_for_label }}">Email:</label>
    <input type="email" class="form-control" placeholder="email" required autofocus id="form.email.id_for_label" maxlength="254" name="Email" type="text" />
  </div>
  <div class="form-group">
    {{ form.cash.errors }}
    <label for="{{ form.cash.id_for_label }}">Quantia Inicial:</label>
    <input type="number" class="form-control" placeholder="100000" value=100000 required autofocus id="form.cash.id_for_label" maxlength="254" name="cash" />
  </div>
  <div class="form-group">
    {{ form.password1.errors }}
    <label for="{{ form.password1.id_for_label }}">Senha:</label>
    <input id="id_password1" name="password" type="password" class="form-control" placeholder="Password" required>
  </div>
  <div class="form-group">
    {{ form.password2.errors }}
    <label for="{{ form.password2.id_for_label }}">Repita a Senha:</label>
    <input id="id_password2" name="password" type="password" class="form-control" placeholder="Password" required>
  </div>
  <button class="btn btn-lg btn-primary btn-block" type="submit">Sign Up</button>
</form>
</div>

  <!-- Bootstrap core JavaScript-->
  <script src={% static 'vendor/jquery/jquery.min.js' %}></script>
  <script src={% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}></script>

  <!-- Core plugin JavaScript-->
  <script src={% static 'vendor/jquery-easing/jquery.easing.min.js' %}></script>

  <!-- Custom scripts for all pages-->
  <script src={% static 'js/sb-admin-2.min.js' %}></script>

  <!-- Page level plugins -->
  <script src={% static 'vendor/chart.js/Chart.min.js' %}></script>

  <!-- Page level custom scripts -->
  <script src={% static 'js/demo/chart-area-demo.js' %}></script>
  <script src={% static 'js/demo/chart-pie-demo.js' %}></script>


</body>

</html>
